body {
    margin: 0;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.card {
    display: block;
    width: 40em;
    overflow: hidden;
    border-radius: 0.5em;
    border: 1px solid #CCC;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

.card .content {
    padding: 1em;
}

.card h3,
.card p {
    margin: 0;
}

.media {
    position: relative;
    overflow: hidden;
}

.media .after {
    padding-top: 56.25%;
}

.media img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}