html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}

body, table, input, button {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: normal;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

p, * + ul, * + ol {
    padding-bottom: 1.5em;
}

/* ul ul, ol ol, ul ol, ol ul {
    padding-bottom: 0;
} */

ul, ol, blockquote {
    padding-left: 1.5em;
}

ul, ol {
    list-style-position: inside;
    list-style: none;
}

blockquote {
    border-left: 4px solid gray;
    margin-bottom: 1.5em;
    font-style: italic;
    color: #666;
}

blockquote p:first-child:before,
blockquote:has(.author) p:nth-last-child(2):not(.author):after,
blockquote p:nth-last-child(1):not(.author):after {
    display: inline-block;
    content: '"';
    font-size: 1.2em;
    color: #111;
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
    color: #111;
}

blockquote p.author:before {
    display: inline-block;
    content: '— ';
    padding-right: 0.5em;
}

img {
    display: block;
    max-width: 100%;
    border: 2px solid grey;
    padding: 0.5em;
}

img[class^="align"] {
    margin-bottom: 0.5em;
}

img.align-left {
    float: left;
    margin-right: 1em;
}

img.align-right {
    float: right;
    margin-left: 1em;
}

hr {
    border-color: #f5ebeb;
    
}

.button {
    background-color: #666;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black ;
}

.button.type-pill {
    border-radius: 5em;
    color: #666;
    background-color: aliceblue;
}

.button.type-pill:hover {
    color: white;
    background-color: rgb(197, 207, 216);
    border-color: green;
    
    
}

