html {
    font: 16px/1.5 Georgia, serif;
}

body {
    background-color: rgb(238, 238, 238);
}

body, input, textarea {
    font: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

/* .main-header {
    margin: 0 auto;
}

.post-header {
    margin-top: 0;
    margin-bottom: 1em;
} */
