html {
    font: 16px / 1.5em 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, input, textarea {
    font: inherit;
}

p, ol, ul {
    padding-bottom: 1.5em;
}